.bg {
        background-color: lightblue;
        }
        .questions{
            font-size: 48px;
                text-align: center;
                }
                .question{
                    padding: 50px;
                    }
}