.bg {
    background-color: lightcyan;
    }
.questions{
    font-size: 48px;
    text-align: center;
    }
.question{
    padding: 50px;
    }
input[type="button"], .next, .back {
    transform: scale(1);
}
input[type="button"], .next, .back {
    margin: 5px;
}
input[type="radio"] {
    transform: scale(2);
}
label.right {
    background-color: lightgreen;
    padding: 5px;
    border-radius: 5px;
}

label.wrong {
    background-color: red;
    padding: 5px;
    border-radius: 5px;
}
.question {
    display: none;
}