.bg {
    background: whitesmoke; 
}
.questions{
    font-size: 45px;
    text-align: center;
    display:block;
    font-size: 30px;
    border: 4px solid black;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    }
.questions-title{
    font-size: 50px;
    margin: 10px;
}
.question{
    display:block;
    border: 4px solid black;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    }
button{
    transform: scale(1.5);
    margin: 30px;
}
input[type="radio"] {
    transform: scale(2);
}
label.right {
    background-color: lightgreen;
    padding: 5px;
    border-radius: 5px;
}

label.wrong {
    background-color: red;
    padding: 5px;
    border-radius: 5px;
}
.question {
    display: none;
}